{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

    <title>myReactor | HEIA-FR | ChemTech</title>
  </head>
  <body>

    <header id="header" class="jumbotron">
      {% block header %}
        <a href="/">
          <img src="{% static 'img/logo.png' %}" width="250px">
        </a>
        <ol class="scores">
          {% for score in scores %}
          <li {% if forloop.first %}class="first"{% endif %}>{{score.player.name|upper }}, {{ score.player.first_name}}: {{ score.total_reaction_time }} min</li>
          {% empty %}
          {% endfor %}
        </ol>
      {% endblock %}
    </header>
    
    <main id="main">
      {% block main %}{% endblock %}
    </main>
        
    <footer id="footer">
      {% block fooder %}
        <p>&copy; 2019-2024 Institut ChemTech - Haute Ecole d'Ingénierie et d'Architecture de Fribourg</p>
      {% endblock %}
    </footer>

    {% block modals %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {% block bottom_scripts %}{% endblock %}
  </body>
</html>