
{% extends 'myreactor/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Jeu: pilotez le réacteur chimique qui explosa lors de l'accident de Morton en 1998</h1>
            </div>
        </div>
        <div class="row">
            <div class="start-button col-12">
                <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#name-registration">Commencer</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="reaction">
                    <img src="{% static 'img/reaction.png' %}">
                </p>
                <p class="accident">
                    Entre 1990 et 1998, Morton International Inc. a produit un colorant pour l'industrie pétrolière appelé 
                    Automate Jaune 96 (Automate Yellow AY96). Les études thermiques réalisées entre 1986 et 1990 ont montré 
                    un comportement lent et exothermique (dégage de la chaleur). La réaction de synthèse est suivie d'une décomposition hautement 
                    exothermique du produit. Cette dernière réaction a été sous-estimée lors la mise à l'échelle, car l'entreprise 
                    a continué d'augmenter le volume de production tout en conservant les mêmes conditions. Elle a même passé d'un procédé 
                    semi-continu à un procédé discontinu. De plus, de nombreux écarts de température ont été observés dans la cuve 
                    du réacteur de 7,6 m3 et ont signalés par les opérateurs. Malgré les commentaires de plusieurs superviseurs, les 
                    écarts de température ont été ignorés. Les fortes hausses de température constituaient un problème de qualité 
                    et non un problème de sécurité. Le 4 août 1998, sur le site de Paterson (New Jersey, USA), une explosion et 
                    un incendie se sont produits. La décomposition de l'AY96 a causé de nombreux dommages, le rejet de matières 
                    dangereuses et a blessé 9 employés, y compris deux d'entre eux sérieusement (US Chemical Safety and Hazard 
                    Investigation Board, 2000).
                </p>
            </div>
        </div>
    </div>

    <div id="name-registration" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pour essayer, indiquez votre email et votre nom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form method="post" action="/register/">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abandonner</button>
                    <button type="submit" class="btn btn-success">Continuer</button>
                </div>
            </form>
            

            </div>
            </div>
        </div>
    </div>
{% endblock %}