{% extends 'myreactor/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Réinitialisation des scores</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="btn btn-danger">Réinitialiser</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}