{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

    <title>myReactor | HEIA-FR | ChemTech</title>
  </head>
  <body>

    <header id="header" class="jumbotron">
      {% block header %}
        <a href="/">
          <img src="{% static 'img/logo.png' %}" width="250px">
        </a>
        <ol class="scores">
          {% for score in scores %}
          <li {% if forloop.first %}class="first"{% endif %}>{{score.player.name|upper }}, {{ score.player.first_name}}: {{ score.total_reaction_time }} min</li>
          {% empty %}
          {% endfor %}
        </ol>
      {% endblock %}
    </header>
    
    <main id="main">
      {% block main %}{% endblock %}
    </main>
        
    <footer id="footer">
      {% block fooder %}
        <p>&copy; 2019 Institut ChemTech - Haute Ecole d'Ingénierie et d'Architecture de Fribourg</p>
      {% endblock %}
    </footer>

    {% block modals %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {% block bottom_scripts %}{% endblock %}
  </body>
</html>