body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media (min-width: 576px) {
    header.jumbotron {
        padding: 1.5rem 2rem;
        margin-bottom: 1em;
    }
}
  
header.jumbotron {
    color: #fff;
    background-color: #069;
    flex-grow: 0;
    border-radius: 0px;
}

header.jumbotron a {
    color: #fff;
}

header.jumbotron a:visited {
    color: #fff;
}

header.jumbotron h1 a:hover {
    color: #fff;
    text-decoration: none;
}

span.logo-intro {
    color: #ccc;
}
  
main {
    background-color: white; 
    flex-grow: 1;
    display: flex;
}

main h1 {
    margin-bottom: 32px;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 32px 0;
}

.start-button button {
    width: 200px;
}

.reaction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 32px 0;
}

.reaction img {
    width: 100%;
}

@media (min-width: 576px) {
    .reaction img {
        width: 75%;
    }
}

.accident {
    text-align: justify;
}
  
footer {
    color: #fff;
    min-height: 50px;
    background-color: #373737;
    flex-grow: 0;
    padding: 32px 16px;
}

footer p {
    margin: 0;
}

.plots {
    flex-grow: 1;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.plots {
    display: flex;
}

.plot {
    width: 100%;
}

@media (min-width: 768px) {
    .plot {
        width: 50%;
    }
}

.displays {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
}

.display {
    width: 50%;
    text-align: center;
    font-family: "Orbitron", sans-serif !important;
    font-size: 1.5em;
    font-weight: 700;
}

.temperature-btns {
    display: flex;
    height: 4em;
}

.temperature-btn {
    width: 50%;
}

#failure {
    display: none;
}

.scores {
    float: right;
    margin-right: 2em;
}